.button {
    display: block;
    outline: none;
    position: relative;
    cursor: default; 
    height: var(--normal-control-height);
    transition-property: background-color, color, box-shadow, border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-curve);
    background-color: transparent;
    color: var(--control-accent-normal);
    border: none;
    border-radius: var(--border-radius);
    padding: var(--button-padding);
}

.button:hover {
    color: var(--control-accent-hover);
}

.button:active {
    color: var(--control-surface-hover);
}

.button:disabled {
    color: var(--control-accent-disabled);
}

.button--raised {
    background-color: var(--control-surface-normal);
    border: var(--border-width) solid var(--control-accent-normal);
    box-shadow: var(--shadow);
}

.button--raised:hover {
    background-color: var(--control-surface-hover);
    border: var(--border-width) solid var(--control-accent-hover);
}

.button--raised:active {
    background-color: var(--control-surface-active);
    border: var(--border-width) solid var(--control-accent-active);
    box-shadow: none;
}

.button--raised:disabled {
    background-color: var(--control-surface-disabled);
    border: var(--border-width) solid var(--control-accent-disabled);
    box-shadow: none;
}

.button--flat:active {
    background-color: var(--control-surface-active);
    color: var(--control-accent-active)
}

.button--danger:hover {
    color: var(--control-accent-danger);
}

.button--raised.button--danger:hover {
    background-color: var(--control-surface-danger);
    border: var(--border-width) solid var(--control-accent-danger);
}

.button--raised.button--danger:active {
    background-color: var(--control-accent-danger);
    color: var(--control-surface-danger);
}

.button--flat.button--danger:active {
    background-color: var(--control-accent-danger);
    color: var(--control-surface-danger);
}

.button__splash {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    border-radius: var(--splash-border-radius);
    box-sizing: content-box;
    pointer-events: none;
    z-index: -1;
}

.button:active .button__splash {
    animation-name: splash-fade;
    animation-duration: var(--transition-duration);
    animation-fill-mode: forwards;
    border: var(--border-width) solid var(--control-accent-hover);
}

.button--danger:active .button__splash {
    border-color: var(--control-accent-danger)
}